<html>
	<head>
		<title>Juntos!</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="Juntos; No One Left Behind" class="alt">
						<span class="logo"><img src="/static/assets/css/images/colorful.png" alt="" /></span>
						<h1>Juntos!</h1>
						<p>A social network with those who deal with social anxiety. Designed, engineered and marketed by those who care--because we want no one left behind.</p>
					</header>
					
				<!-- Main -->
<script src="https://assets.juicer.io/embed.js" type="text/javascript"></script>
<link href="https://assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
<ul class="juicer-feed" data-feed-id="thecookiemonster"><h1 class="referral"><a href="https://www.juicer.io">Powered by Juicer.io</a></h1></ul>			
				<!-- Footer -->
					<footer id="footer">
						<section>
						<a href ="/index" class="button primary">Log Out</a>
						</section>
						<section>
							<h2>Juntos! HQ</h2>
							<dl class="alt">
								<dt>Address</dt>
								<dd>194 Mercer Street &bull; New York, NY 00000 &bull; USA</dd>
								<dt>Phone</dt>
								<dd>(800) 523-5656</dd>
								<dt>Email</dt>
								<dd><a href="#">juntos@juntos.com</a></dd>
							</dl>
						</section>
						<p class="copyright">&copy; Juntos! </p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>
	</body>
<script src="https://assets.juicer.io/embed.js" type="text/javascript"></script>
<link href="https://assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />


